@import "compass";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: “Times New Roman”, “游明朝”, YuMincho, “ヒラギノ明朝 ProN W3″, “Hiragino Mincho ProN”, "MS 明朝", serif;
}
html, body {
  min-height: 100%;
}
body {
  /* 背景が画像を挿入していますが、色でもOK */
  background-image: url("../images/haiku-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
/* 左サイドバーの設定 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #FFF;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  &:hover {
    transition: 0.5s linear all;
    background-color: #7a4171;
    a {
      transition: 0.5s linear all;
      color: #FFF;
    }
  }
  h1 {
    text-align: center;
  }
  a {
    height: 46px;
    padding-top: 4px;
    display: block;
    font-size: 23px;
    width: 100%;
    text-decoration: none;
    /* 古代紫 こだいむらさき */
    color: #895b8a;
  }
}

/* コンテンツのスタイル */
@mixin haikubox($dirction: row, $justiy: space-around) {
  @include display-flex;
  @include flex-direction($dirction);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  @include align-content(space-between);
  @include justify-content($justiy);
}
@mixin flexbox-child($basis: 33%, $grow: 1) {
  @include flex-basis($basis);
  @include flex-grow($grow);
}
// CSSで縦書きにするための設定
%vertical-text {
  /* IE */
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}
main {
  position: relative;
  top: 80px;
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  z-index: 10;
  @include haikubox();
  article {
    /* 1つ1つの投稿のスタイル */
    /* 背景色 デフォルトは黒の透明度0.7 */
    background-color: rgba(0, 0, 0, 0.7);
    /* 文字色 デフォルトは白 */
    color: #EEE;
    font-weight: normal;
    /* 記事の影 box-shadow */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    max-width: 30%;
    height: 550px;
    padding: 20px 10px;
    margin-bottom: 70px;
    position: relative;
    @include flexbox-child();
    /* FlEX BOXの親要素 */
    @include haikubox($dirction: row-reverse, $justiy: space-between);
    span {
      /* 投稿された短歌の文字サイズと、行間のスタイル */
      @include flexbox-child($basis: 15%, $grow: 1);
      @extend %vertical-text;
      font-size: 23px;
    }
    span:nth-child(2) {
      /* 字下げ */
      padding-top: 1.1em;
    }
    span:nth-child(3) {
      /* 字下げ */
      padding-top: 2.1em;
    }
    span:nth-child(4) {
      /* 字下げ */
      padding-top: 4.1em;
    }
    span:nth-child(5) {
      /* 字下げ */
      padding-top: 5.1em;
    }
    p {
      /* 作者の文字列のスタイル */
      @extend %vertical-text;
      float: left;
      text-align: right;
      height: 100%;
    }
    .edit {
      position: absolute;
      right:0;
      bottom:0;
      form {
        text-align: center;
        input[type=submit] {
          @include appearance(none);
          color: #FFF;
          padding: 10px;
          background: rgba(0, 0, 0, 0.4);
          display: block;
          width: 100%;
          border: none;
          outline: none;
        }
        input[type=submit]:hover {
          background: rgba(255, 255, 255, 0.95);
          color: #222;
          cursor: pointer;
        }
      }
    }
  }
}

/* =====================================
   ここから下はあまりいじらないほうがいいところ
   ===================================== */

/* モーダルビュー時にウィンドウ全体を覆うための設定 */
%overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* モーダルビューの設定 */
#modal-view {
  @extend %overlay;
  display: none;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  .form-box {
    /* 投稿画面のデザイン */
    position: absolute;
    top: 50%;
    left: 50%;
    $fw: 400px;
    $fh: 600px;
    width: $fw;
    height: $fh;
    margin-left: -$fw/2;
    margin-top: -$fh/2-15px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    h2 {
      text-align: center;
      margin-bottom: 5px;
    }
    form {
      /* ここからフォームの設定 */
      width: 100%;
      input[type=text] {
        /* テキストボックスのデザイン */
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 4px 10px;
        font-size: 18px;
        box-shadow: none;
      }
      input[type=text]:focus {
        /* テキストボックスにフォーカス（選択）した時の設定 */
        background-color: rgba(255, 255, 0, 0.3);
      }
      input[type=submit] {
        /* 投稿ボタン(submit)のデザイン */
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 0 auto;
        border: 2px solid #CCC;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        background-color: #FFF;
      }
      input[type=submit]:hover {
        background-color: rgba(255, 255, 0, 0.3);
        cursor: pointer;
      }
      /* ここまでフォームのスタイル */
    }
  }
  .close {
    @extend %overlay;
  }
}
/* 編集画面 */
.edit-view {
  /* 編集ページ場合は強制的にdisplayを表示させる。 */
  display: block !important;
}
/* URLがindex.html#modal-viewの時のスタイル */
#modal-view:target {
  display: block;
  -webkit-animation-name: FadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  opacity: 1;
}
/* モーダルビューを消す場所のスタイル */
#close-area {
  background: rbga(0, 0, 0, 0.5);
}
body {
  -webkit-animation-name: FadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  opacity: 1;
}
/* アニメーションの設定 */
@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// $medium-screen-down: 1060px !default;
@import "haiku-middle";
$small-screen-down: 600px;
@import "haiku-small";

/* Created by Kosei Himeno. Last Update 2015 June */