<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>FontCollection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% if current_user %>
  <% if @error %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= @error %>
    </div>
  <% end %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg　" data-toggle="modal" data-target="#myModal">
    投稿ボタン
  </button>
  <a href="/haiku"><span class="glyphicon glyphicon-new-window"></span>ボタん</a>
  

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">投稿</h4>
        </div>
        <div class="modal-body">
          <form action="/review/create" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">タイトル</label>
                <input id="title" class="form-control" type="text" name="title" />
              </div>
              <div class="form-group">
                <label for="body">テキスト</label>
                <textarea id="body" class="form-control" name="body"cols="30" rows="10"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary pull- right">投稿</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="page-header">みんなのおすすめフォント</h1>
  </div>
  <main>
    <div class="row">
    <div class="col-md-6">
        <% @reviews.each do |review| %>
        <ul class="panel panel-primary">
        <article>
          <div class="row">
          <div class="col-md-12">
          <h3>
            <span class="glyphicon glyphicon-bookmark">
            </span> <%= review.title %>
          </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12"><%=review.body %></div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-9">
              <a class="pull-right btn-lg" href="/review/<%=review.id %>">
              <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
        </div>
        </article>
        </ul>
        <% end %>
      
    </div>
  </div>
  </main>
  
<% end %>
</body>
</html>
