<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="stylesheets/haiku.css">
  </head>
  <body>
   <!--Header Start-->
    <header id="landing">
        <div class="main">
      	<div class="square-green"></div>
      	<div class="square-red"></div>
      	<div class="square-blue"></div>
  		<div class="text-title">
  		    <h1 class="main-title">Font<br>Collection</h1>
  			<h3 class="sub-title">-あなたのフォント選びをサポートします-</h3>
  		</div>
  		</div>
  	</header>
  	<!--Header End-->
  </body>
</html>