<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>FontCollection--TimeLine--</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">FontCollection</a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                    <li>
                            <a href="/mypage">
                            <span class="glyphicon glyphicon-user">
                            </span>
                            <%= current_user.name %>
                            </a>
                    </li>
                    <li>
                        <a href="/">
                        <span class="glyphicon glyphicon-home">
                        </span>
                        TimeLine
                        </a>
                    </li>
                    <li>
                        <a href="/sign_out">
                        <span class="glyphicon glyphicon-log-out">
                        </span>
                            Sign out 
                        </a>
                    </li>
                    
                <% else %>
                    <li>
                        <a href="/sign_in">
                        <span class="glyphicon glyphicon-log-in">
                        </span>
                        Sign in 
                        </a>
                    </li>
                    <li>
                        <a href="/sign_up">
                        <span class="glyphicon glyphicon-new-window">
                        </span>
                        Sign up 
                        </a>
                    </li>
                <% end %>
                
                
            </ul> 
        </nav>
    </div>
</header>
<div class="container">
    <%= yield %>
</div>
</body>
</html>
