<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>FontCollection--TimeLine--</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" href="stylesheets/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" href="stylesheets/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" href="stylesheets/cardio.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script></script>
  <script></script>
</head>
<body>
	<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">FontCollection</a>
        </div>
        <nav class="collapse navbar-collapse" id="bs-navbar"></nav>
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                    <li>
                            <a href="/mypage">
                            <span class="glyphicon glyphicon-user">
                            </span>
                            <%= current_user.name %>
                            </a>
                    </li>
                    <li>
                        <a href="/">
                        <span class="glyphicon glyphicon-home">
                        </span>
                        TimeLine
                        </a>
                    </li>
                    <li>
                        <a href="/sign_out">
                        <span class="glyphicon glyphicon-log-out">
                        </span>
                            Sign out 
                        </a>
                    </li>
                    
                <% else %>
                    <li>
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#signupview">
                            <span class="glyphicon glyphicon-new-window">
                        </span>
                        新規登録
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#signinview">
                            <span class="glyphicon glyphicon-new-window">
                        </span>
                        ログイン
                        </button>
                    </li>
                <% end %>
            </ul> 
        </nav>
    </div>
</header>


<!--Sign In Modal VIew-->
<div class="modal fade" id="signinview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">ログイン</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline" action="/session/create" method="post">
            <div class="form-group">
                <label for="name">ID</label>
                <input id="name" class="form-control"type="text" name="name" />
            </div>
            <div class="form-group">
            <label for="password">パスワード</label>
                <input id="password" class="form-control" type="password" name="password" />
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary pull- right">ログイン</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<!--Sign In Modal VIew END-->


<!--Sign Up Modal VIew-->
<div class="modal fade" id="signupview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">新規登録</h4>
        </div>
        <div class="modal-body">
          <form action="/user/create" method="post">
            <div class="form-group">
                <label for="name">ID</label>
                <input id="name" class="form-control" type="text" name="name" />
            </div>
            <div class="form-group">
                <label for="password">パスワード</label>
                <input id="password" class="form-control" type="password" name="password" />
            </div>
            <div class="form-group">
                <label for="password">パスワードの確認</label>
                <input id="password_confirmination" class="form-control" type="password" name="password_confirmation" />
            </div>
            <button type="submit" class="btn btn- default">登録</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Sign In Modal VIew END-->

<!--<div class="container">-->
<!--    <%= yield %>-->
<!--</div>-->
</body>
</html>
