<div class="row">
  <h1 class="page-header">
    <span class="glyphicon glyphicon-bookmark"></span>
    <%= @review.title %>
  </h1>
</div>
<div class="row">
  <div class="col-md-9 break">
    <%= @review.body %>
  </div>
</div>