@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: “Times New Roman”, “游明朝”, YuMincho, “ヒラギノ明朝 ProN W3″, “Hiragino Mincho ProN”, "MS 明朝", serif;
}

html, body {
  margin:0;
  padding:0;
}

body {
  /* 背景が画像を挿入していますが、色でもOK */
  background-image: url("/images/haikei.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/*以下がNavBar*/
.navbar-custom {
    background-color:#E17C80;
    color:#525451;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#525451;
    padding-right:50PX;
    padding-left:50px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #525451;
    background-color:transparent;
    
}

.navbar-custom .navbar-brand {
    color:#525451;
    font-size:25px;
    padding-left:50px;
}

.page-header {
  color:#FEFFF0;
}
/*End*/


a, a:link {
  color: #E17C80;
}
a:hover, a:link:hover {
  color: #FEFFF0;
}

/*以下がヘッダー部分*/
#intro {
  padding-top:60px;
  margin:0;
  background-color: #9CD6DD;
  color:#525451;
}

#intro button {
  background-color: #EBEBEB;
  text-decoration:none;
  color:#525451;
}

#myroom {
  padding-top:60px;
  margin:0;
  background-color: #CED786;
  color:#525451;
}

#box ul{
  background-color: rgba(0, 0, 0, 0.30);
  /*rgba(0, 0, 0, 0.30)*/
  color:#FEFFF0;
  border-style: none;
  font-size:25px;
}
/*End*/



.text-title{
    position: fixed;
    top:22%;
    left:12%;
    color:#fefff3;
}
.main-title{
  font-size:100px;
  font-weight:bold;
}
.square-red {
  position:fixed;
  margin-top:20px;
	display: inline-block;
	width: 600px;
	height: 600px;
	border:4px solid #e17c80;
	transform: rotate( -45deg );
}
.square-green{
  z-index:3;
  position:fixed;
  margin-top:10px;
  margin-left:10px;
  display: inline-block;
	width: 600px;
	height: 600px;
	border:6px solid #98d0a9;
	transform: rotate( -45deg );
}
.square-blue{
  position:fixed;
  display: inline-block;
	width: 600px;
	height: 600px;
	border:4px solid #9cd6dd;
	transform: rotate( -45deg );
}
.main{
  position:relative;
}




