@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: “Times New Roman”, “游明朝”, YuMincho, “ヒラギノ明朝 ProN W3″, “Hiragino Mincho ProN”, "MS 明朝", serif;
}

html, body {
  min-height: 100%;
}

body {
  /* 背景が画像を挿入していますが、色でもOK */
  background-image: url("/images/haikei.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#navbox {
  font-size:20px;
}

#navbox #navbox-header #nav-title {
  font-size:30px;
}


#box ul{
  background-color: rgba(0, 0, 0, 0.30);
  /*rgba(0, 0, 0, 0.30)*/
  color:#fff;
  border-style: none;
  font-size:25px;
}
