@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: “Times New Roman”, “游明朝”, YuMincho, “ヒラギノ明朝 ProN W3″, “Hiragino Mincho ProN”, "MS 明朝", serif;
}

html, body {
  min-height: 100%;
}

body {
  /* 背景が画像を挿入していますが、色でもOK */
  background-image: url("../images/haiku-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


/* コンテンツのスタイル */
main article span, main article p {
  /* IE */
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

main {
  position: relative;
  top: 80px;
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
main article {
  /* 1つ1つの投稿のスタイル */
  /* 背景色 デフォルトは黒の透明度0.7 */
  background-color: rgba(0, 0, 0, 0.7);
  /* 文字色 デフォルトは白 */
  color: #EEE;
  font-weight: normal;
  /* 記事の影 box-shadow */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  max-width: 30%;
  height: 550px;
  padding: 20px 10px;
  margin-bottom: 70px;
  position: relative;
  -webkit-flex-basis: 33%;
  flex-basis: 33%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  /* FlEX BOXの親要素 */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}